.hero {
    height: 100vh;
    display: block;
}
.hero.show {
    display: none;
}
.invoice {
    display: none;
}
.invoice.show {
    display: block;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    max-width: 100%;
}
.content-table thead tr {
    background-color: rgb(137, 137, 230);
    color: #fff;
    text-align: center;
    border: 1px solid rgb(137, 137, 230);
    font-weight: bold;
}
.content-table th, .content-table td {
    padding: 12px 15px;
    border: 1px solid #fff;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    color: rgb(137, 137, 230);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 3px solid rgb(137, 137, 230);
}
.invoice {
    height: 100vh;
    margin: auto;
    padding: 10px 50px;
}
.invoice .invoice-header h1 {
    text-align: center;
    color: rgb(137, 137, 230);
}
.invoice .invoice-header p {
    text-align: center;
    font-size: 20px;
    color: orangered;
    font-family: cursive;
}
.invoice .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.invoice .info-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.invoice .info-inner .owner {
    margin-left: 10px;
    font-weight: bold;
    color: rgb(137, 137, 230);
}
.invoice .info-inner p {
    color: orangered;
}
.total-invoice {
    color: orangered;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    background-color: #dddddd;
    padding: 10px;
}
.loader-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: white;
    display: none;
}
.loader-div.show {
    display: block;
}
.loader {
    position: absolute;
    top: 40%;
    left: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(137, 137, 230);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    z-index: -1;
}
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width:680px) {
    .loader {
        left: 40%;
    }
    .invoice .info {
        display: flex;
        flex-direction: column;
    }
    .content-table {
        width: 50%;
    }
    .invoice {
        padding: 10px 20px;
    }
}