.hero.show {
    display: none;
}

.hero {
    display: block;
}

.invoice {
    display: none;
}

.invoice.show {
    display: block;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100%;
}

.content-table thead tr {
    background-color: #009879;
    color: #fff;
    text-align: left;
    border: 1px solid black;
    font-weight: bold;
}

.content-table th, .content-table td {
    padding: 12px 15px;
    border: 1px solid black;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}